{% extends 'base.html.twig' %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{asset('css/event.css')}}" >
{% endblock %}

{% block body %}

    <div>

        {{ form_start(cancelEventForm) }}
        {{ form_widget(cancelEventForm) }}
        <button>Annuler la sortie</button>
        {{ form_end(cancelEventForm) }}

    </div>

{% endblock %}