body {
    padding: 0;
    height: 100vh;
}

.container {
    display: flex;
    height: inherit;
}

main {
    width: 100%;
    padding: 10px;
    color: #333333
}

#main-header {
    font-size: 26px;
    font-weight: 600;
}

/*
button {
    align-self: flex-start;
    margin-left: 15%;
}


A déplacer dans un fichier si quelqu'un en a besoin
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}


input, textarea {
    box-sizing: border-box;
    max-width: 150px;
    min-width: 50%;
}

.input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

*/
.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    height: 15vh;
    padding: 0;
    margin-top: 15px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*TODO make desktop version */