table   {
    border-collapse: separate;
    border-spacing: 0 25px;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    font-family: 'Asul', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;

}
tr{
    height: 80px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

}
tr td {

    padding: 10px;
    text-align: center;
}
thead{
    text-align: center;
    background-color: #302269;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: white;

}
thead>tr:hover{
    background-color: #302269;
    color: white;
}
tr:hover{
    background-color: #d7d7d7;
    color: #302269;
    box-shadow: none;


}

container{
    background-color: white;
    border-radius: 20px;
    display: flex;
    margin:2%;
    padding:50px;
    justify-content: center;

}
/*Partie details*/

article
{
    max-height: 60%;
    max-width: 80%;
    background-color: white;
    border-radius: 20px;
    margin:2%;
    padding:50px;
    display: flex;
justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    font-family: 'Asul', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;

}