a{
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    color: #e0e0e0;
}

button {
    align-self: flex-start;
    margin-left: 15%;
}

h1 {
    font-family: 'PT Sans Caption', sans-serif;
    color: #e0e0e0;
    display: inline;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input {
    font-size: 20px;
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
    background-color: inherit;
    color: inherit;
}

input:hover {
    border: 1px solid #aaa;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    padding: 2vh;
}

footer {
    height: 10vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e0e0e0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

input, textarea {
    box-sizing: border-box;
    max-width: 200px;
    min-width: 50%;
}

.input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.container {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 25vh;
    padding: 0;
    margin-top: 2rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*TODO make desktop version */

