@media screen and (max-width: 500px) {
    .profile {

    }

    .profile-btn button, .profile-btn a {
        width: 80px;
    }

    .profile-form  {
        padding: 3% !important;
    }


}

@media screen and (max-width: 768px) {
    form {
        width: 100%;
        height: 100%;
    }
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .profile-form, .profile-img-container{
        display: flex;
        flex-direction: column;
        width: 85%;
        max-width: 500px;
        min-width: 200px;
    }

    .profile-form {
        border-radius: 10px;
        padding-top: 2%;
        padding-bottom: 2%;
        box-shadow: 0 0 15px #bcbcbc;
        -moz-box-shadow: 0 0 15px #bcbcbc;
        -webkit-box-shadow: 0 0 15px #bcbcbc;
        -o-box-shadow: 0 0 15px #bcbcbc;
    }

    .profile-img-container{
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    #profile-img {
        border: 1px solid black;
        border-radius: 80px;
        width: 110px;
        height: 110px;
        margin-bottom: 10px;
    }

    #profile_image {
        width: 87px
    }

    .profile-selectImage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #modify {
        margin-bottom: 10px;
    }

    .profile-input {
        display: flex;
        flex-direction: column;
        padding-left: 2%;
        padding-right: 2%;
    }

    .profile-row  {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .profile-label {
        margin-right: 5px;
        flex-shrink: 2;
        width: 10%;
        min-width: 85px;
    }

    .profile-info  {
        margin-bottom: 10px;
        width: 75%;
        max-width: 380px;
        min-width: 170px;
        height: 17px;
        border-bottom: 1px solid lightgray;
        color: gray;
    }

    .profile-input input, select {
        width: 75%;
        max-width: 350px;
        min-width: 100px;
    }

    .profile select {
        width: 77%;
    }

    .profile-btn {
        display: flex;
        justify-content: space-around;
        margin: inherit;
    }

    .profile-btn button, .profile-btn a {
        display: flex;
        align-items: center;
        width: 90px;
        height: 30px;
        border-radius: 5px;
        font-weight: 500;
        color: white;
        box-shadow: 0 2px 2px #939393;
        text-decoration: none;
    }

    #profile_submit, #profile_modify {
        border: 1px solid #1565C0;
        background-color: #1565C0;
    }

    #profile_submit:hover, #profile_modify:hover {
        border: 1px solid #1a80ed;
        background-color: #1a80ed;
    }
    #profile_reset {
        border: 1px solid #d32f2f;
        background-color: #d32f2f;
    }
    #profile_reset:hover {
        border: 1px solid #ef5350;
        background-color: #ef5350;
    }
    #profile_back{
        border: 1px solid #e65100;
        background-color: #e65100;
    }
    #profile_back:hover {
        border: 1px solid #ff9800;
        background-color: #ff9800;
    }
}

@media screen and (min-width: 769px) {
    form {
        width: 100%;
        height: 100%;
    }

    .profile {
        width: inherit;
        display: flex;
        justify-content: space-around;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .profile-img-container, .profile-form{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        height: 60%;
        max-height: 700px;
        min-height: 300px;
        padding-top: 2%;
        padding-bottom: 2%;
        box-shadow: 0 0 15px #bcbcbc;
        -moz-box-shadow: 0 0 15px #bcbcbc;
        -webkit-box-shadow: 0 0 15px #bcbcbc;
        -o-box-shadow: 0 0 15px #bcbcbc;
    }

    .profile-img-container{
        justify-content: space-evenly;
        width: 30%;
        max-width: 350px;
        min-width: 200px;
        align-items: center;
    }
    .profile-form {
        justify-content: space-around;
        width: 50%;
        max-width: 500px;
        min-width: 280px;
    }

    #profile-img {
        border: 1px solid black;
        border-radius: 80px;
        width: 150px;
        height: 150px;
    }

    #profile_image {
        width: 87px
    }

    .profile-selectImage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #modify {
        margin-bottom: 10px;
    }

    .profile-input {
        display: flex;
        flex-direction: column;
        padding-left: 2%;
        padding-right: 2%;
    }

    .profile-row  {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .profile-info  {
        margin-bottom: 10px;
        width: 75%;
        max-width: 380px;
        min-width: 170px;
        height: 17px;
        border-bottom: 1px solid lightgray;
        color: gray;
    }

    .profile-label {
        margin-right: 5px;
        flex-shrink: 2;
        width: 18%;
        min-width: 85px;
    }

    .profile-input input, select {
        width: 75%;
        max-width: 380px;
        min-width: 170px;
    }

    .profile select {
        width: 77%;
    }

    .profile-btn {
        display: flex;
        justify-content: space-around;
        margin: inherit;
    }

    .profile-btn button, .profile-btn a {
        display: flex;
        align-items: center;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        font-weight: 500;
        color: white;
        box-shadow: 0 2px 2px #939393;
        text-decoration: none;
    }

    #profile_submit, #profile_modify {
        border: 1px solid #1565C0;
        background-color: #1565C0;
    }

    #profile_submit:hover, #profile_modify:hover {
        border: 1px solid #1a80ed;
        background-color: #1a80ed;
    }
    #profile_reset {
        border: 1px solid #d32f2f;
        background-color: #d32f2f;
    }
    #profile_reset:hover {
        border: 1px solid #ef5350;
        background-color: #ef5350;
    }
    #profile_back{
        border: 1px solid #e65100;
        background-color: #e65100;
    }
    #profile_back:hover {
        border: 1px solid #ff9800;
        background-color: #ff9800;
    }
    .flash-success {
        color: #4caf50;
        text-align: center;
        margin-bottom: 20px;
    }
}
