@media screen and (max-width: 500px) {
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%
    }
    .profile-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-input div {
        display: flex;
        justify-content: center;
    }
    .profile-input div input {
        margin-bottom: 10px;
        width: 80%;

    }
}

@media screen and (max-width: 768px) {
    .profile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
    }
    .profile-form {
        display: flex;
        flex-direction: column;
        width: 70%
    }

    .profile-img-container {
        width: 150px;
        height: 150px;
        width: 30%;
        border: 1px solid black;
    }

    #profile-img {
    width: 100%;
    }
    .profile-btn {
        display: flex;
    }
    .form-control label {
        display: none
    }

    .profile-input input, select {
        margin-bottom: 15px;
        max-width: 250px;
        min-width: 50%;
    }

    .profile-input label{
        display: none;
    }
}

@media screen and (min-width: 769px) {
    form {
        width: 100%;
        height: 100%;
    }
    .profile {
        width: inherit;
        height: inherit;
        display: flex;
        justify-content: space-around;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .profile-img-container, .profile-form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        border-radius: 10px;
        height: 60%;
        max-height: 700px;
        min-height: 300px;
        padding-top: 2%;
        padding-bottom: 2%;

        box-shadow: 0 0 15px #bcbcbc;
        -moz-box-shadow: 0 0 15px #bcbcbc;
        -webkit-box-shadow: 0 0 15px #bcbcbc;
        -o-box-shadow: 0 0 15px #bcbcbc;
    }

    .profile-img-container{
        width: 30%;
        max-width: 350px;
        min-width: 200px;
        align-items: center;

    }
    .profile-form {
        width: 50%;
        max-width: 500px;
        min-width: 280px;
    }

    #profile-img {
        border: 1px solid black;
        border-radius: 80px;
        max-width: 150px;
        max-height: 150px;
    }

    #profile_image {
        width:90px
    }
    .profile-selectImage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2%;
        padding-right: 2%;
    }

    .profile-input div {
        display: flex;
        justify-content: center;
    }

    .profile-input input, select {
        width: 96%;
        max-width: 350px;
        min-width: 200px;
        margin-bottom: 20px;
        padding-left: 5px;
    }

    label, .profile-input label{
        display: none;
    }
    .input-labeled{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #profile-label-campus {
        align-self: center;
        margin-bottom: 5px;
    }

    .profile-btn {
        display: flex;
        justify-content: space-around;
        margin: inherit;
    }

    .profile-btn button {
        display: flex;
        align-items: center;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        font-weight: 500;
        color: white;
        box-shadow: 0 2px 2px #939393;
    }

    #profile_submit{
        border: 1px solid #1565C0;
        background-color: #1565C0;

    }
    #profile_submit:hover {
        border: 1px solid #1a80ed;
        background-color: #1a80ed;
    }
    #profile_reset{
        border: 1px solid #d32f2f;
        background-color: #d32f2f;
    }
    #profile_reset:hover {
        border: 1px solid #ef5350;
        background-color: #ef5350;
    }

}
