@media screen and (max-width: 768px) {
    aside {
        display: flex;
        flex-direction: column;
        position: sticky;
        left: 0;
        height: 100vh;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        width: 12%;
        max-width: 250px;
        min-width: 150px;
        color: #f7f7f7;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 1.5em;
    }

    .user-card {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        width: 100%;
        justify-content: center;
    }

    #profile-photo {
        width: 26px;
        height: 26px;
        border: 1px solid gray;
        border-radius: 80px;
        background-color: white;
    }

    #username {
        font-weight: 600;
        font-size: 16px;
        margin-left: 5px;
    }

    nav ul {
        padding: 10px;
        list-style: none;
    }

    nav ul li {
        height: 25px;
        text-decoration: none;
    }

    nav ul li a {
        color: white;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
    }

    .nav-link {
        border-bottom: 1px solid #FFFFFF50;
        font-size: 17px;
        color: #f7f7f7
    }

    footer {
        height: 10vh;
        /*testing experimental footer colours*/
        /*background-color: #26408B;*/
        width: 100%;
        display: flex;
        position: absolute;
        bottom: 0px;
        flex-direction: column;
        align-items: center;
        align-self: flex-end;
    }

    footer p {
       font-size: 13px;
    }
}

@media screen and (max-width: 500px) {
    aside {
        width: 95%;
        max-width: 100%;
        min-width: 100%;
        height: 180px;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .user-card {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    footer p {
        /* font-size: 13px; */
        display: none;
    }
}
@media screen and (min-width: 769px) {
    aside {
        display: flex;
        flex-direction: column;
        position: sticky;
        left: 0;
        height: 100vh;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        width: 17%;
        max-width: 250px;
        min-width: 200px;
        color: #f7f7f7;
    }

    header {
        /*background-color: #26408B;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .user-card {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        width: 100%;
        justify-content: center;
    }

    #profile-photo {
        width: 32px;
        height: 32px;
        border: 1px solid gray;
        border-radius: 80px;
        background-color: white;
    }

    #username {
        font-weight: 600;
        font-size: 22px;
        margin-left: 11px;
    }

    nav ul {
        padding: 10px;
        list-style: none;
    }

    nav ul li {
        height: 25px;
        text-decoration: none;
    }

    nav ul li a {
        color: white;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
    }

    .nav-link {
        border-bottom: 1px solid #FFFFFF50;
        font-size: 19px;
        color: #f7f7f7
    }

    footer {
        height: 10vh;
        /*testing experimental footer colours*/
        /*background-color: #26408B;*/
        width: 100%;
        display: flex;
        position: absolute;
        bottom: 0px;
        flex-direction: column;
        align-items: center;
        align-self: flex-end;
    }
}