<nav>
    <ul>
        {% if app.user %}
        <li><a href="{{path('main_home')}}" title="Home">Home</a></li>
            <li>Welcome {{ app.user.userName }}</li>
            <li><a href="{{path('participant_profile')}}"  title="Profile">My profile</a></li>
            <li><a href="{{path('participant_logout')}}"  title="Logout">Logout</a></li>
        {% endif %}
    </ul>
</nav>